<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calling | WhatsApp
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>WhatsApp</title>


            <link rel="stylesheet" href="/stylesheets/style.css">
            <link rel="stylesheet" href="/stylesheets/core.css">
            <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">

        </head>

<body>
    <main>

        <!-- Sidebar -->
        <aside id="sidebar">
            <header id="sidebar-header">
                <a href="/dashboard"><img src="https://picsum.photos/id/10/50" alt="" class="avatar"
                        id="profile-image"></a>
                <div class="toolbar">
                    <a href="/status">Status</a>
					<a href="/call">Call</a>
                    <div class="dropdown">
                        <img src="/images/icons/menu.svg" alt="" class="icon dropdown-button">
                        <div class="dropdown-content">
                            <a href="#">New group</a>
                            <a href="#">New community</a>
                            <a href="#">Archived</a>
                            <a href="#">Starred messages</a>
                            <a href="#">Select chats</a>
                            <a href="#">Settings</a>
                            <a href="#">Log out</a>
                        </div>
                    </div>
                </div>
            </header>
            <form id="search-toolbar">
                <input type="search" name="" id="search-input" placeholder="Search or start a new chat">
                <img src="/images/icons/filter.svg" alt="" class="icon">
            </form>
            <section class="status-content">
                <h1> Calls</h1>
                <div class="status-main">
                    <div class="status">
                        <div class="pro-imges">
                            <img src="https://media.istockphoto.com/id/1131285202/photo/portrait-of-a-handsome-man.webp?b=1&s=170667a&w=0&k=20&c=48taymhMtm9NrAPJs2ejFACh-GhbQo12kUKJfN5qmWo="
                                alt="">
                        </div>
                        <div>
                            <h3>Vikuu parihar</h3>
                            <h4>20 minutes ago</h4>
                        </div>
                    </div>
                    <div class="status">
                        <div class="pro-imges">
                            <img src="https://media.istockphoto.com/id/1300512215/photo/headshot-portrait-of-smiling-ethnic-businessman-in-office.webp?b=1&s=170667a&w=0&k=20&c=TXCiY7rYEvIBd6ibj2bE-VbJu0rRGy3MlHwxt2LHt9w="
                                alt="">
                        </div>
                        <div>
                            <h3>hariom dangi</h3>
                            <h4>1 hous ago</h4>
                        </div>
                    </div>
                    <div class="status">
                        <div class="pro-imges">
                            <img src="https://media.istockphoto.com/id/1309328823/photo/headshot-portrait-of-smiling-male-employee-in-office.webp?b=1&s=170667a&w=0&k=20&c=MRMqc79PuLmQfxJ99fTfGqHL07EDHqHLWg0Tb4rPXQc="
                                alt="">
                        </div>
                        <div>
                            <h3>Akshay Dangi</h3>
                            <h4>12 hours ago</h4>
                        </div>
                    </div>
                    <div class="status">
                        <div class="pro-imges">
                            <img src="https://media.istockphoto.com/id/1131285202/photo/portrait-of-a-handsome-man.webp?b=1&s=170667a&w=0&k=20&c=48taymhMtm9NrAPJs2ejFACh-GhbQo12kUKJfN5qmWo="
                                alt="">
                        </div>
                        <div>
                            <h3>Vikuu parihar</h3>
                            <h4>20 minutes ago</h4>
                        </div>
                    </div>
                    <div class="status">
                        <div class="pro-imges">
                            <img src="https://media.istockphoto.com/id/1300512215/photo/headshot-portrait-of-smiling-ethnic-businessman-in-office.webp?b=1&s=170667a&w=0&k=20&c=TXCiY7rYEvIBd6ibj2bE-VbJu0rRGy3MlHwxt2LHt9w="
                                alt="">
                        </div>
                        <div>
                            <h3>hariom dangi</h3>
                            <h4>1 hous ago</h4>
                        </div>
                    </div>
                    <div class="status">
                        <div class="pro-imges">
                            <img src="https://media.istockphoto.com/id/1309328823/photo/headshot-portrait-of-smiling-male-employee-in-office.webp?b=1&s=170667a&w=0&k=20&c=MRMqc79PuLmQfxJ99fTfGqHL07EDHqHLWg0Tb4rPXQc="
                                alt="">
                        </div>
                        <div>
                            <h3>Akshay Dangi</h3>
                            <h4>12 hours ago</h4>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
        <!-- Sidebar ends -->

        <!-- Chat window -->
        <section id="call-window">
            <div style="display: none;" class="before-call">
                <p>Click to contact to view status</p>
            </div>
            <div class="call-window-header">
                <h1>Call Info</h1>
                <div class="call-window-header-info">
                    <div class="prt1">
                        <div class="pro-imges">
                            <img src="https://media.istockphoto.com/id/1131285202/photo/portrait-of-a-handsome-man.webp?b=1&s=170667a&w=0&k=20&c=48taymhMtm9NrAPJs2ejFACh-GhbQo12kUKJfN5qmWo="
                                alt="">
                        </div>
                        <div>
                            <h1>Akshay Dangi ❤️❤️</h1>
                            <p>Hey ! their I am using WhatsApp</p>
                        </div>
                    </div>
                    <div class="prt2">
                        <div>
                            <i class="ri-video-chat-line"></i>
                            <i class="ri-phone-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Chat window ends -->

    </main>

    <!-- Import Scripts -->
    <script src="/javascripts/check-connectivity.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>
</title>
</head>

<body>

</body>

</html>